<%- model_class = Employerdomain -%>
<div class="page-header">
	<% if params[:status] %>
	<h1><%= t '.title', :default => model_class.model_name.human.pluralize %> - <%= params[:status] %></h1>
	<% else %>
	
	<h1>Domains - PreApproved </h1>
	<% end %>
</div>
<div class="row-fluid" >
	<div class="span1">
		<%= link_to t('.new', :default => t("helpers.links.new")),
		new_employerdomain_path,
		:class => 'btn btn-primary' %>
	</div>

	<div class="span2">
		<ul>
	   		<li class="dropdown" style="list-style:none;">
    	<a class="dropdown-toggle"  data-toggle="dropdown" href="#" style="text-decoration: none;">
    		<i class="icon-filter"></i>Sort By <b class="caret"></b></a>

    	<ul class="dropdown-menu" \>
	      <li>
				<%= link_to raw("<i class='icon-envelope'></i> Employer Domain"), sort_domain_employerdomains_path(:sortby => "Employerdomain"), :remote=>true%>
			</li>
	      <li>
				<%= link_to raw("<i class='icon-exclamation-sign'></i> Status"), sort_domain_employerdomains_path(:sortby => "Status"), :remote=>true%>
			</li>
    	</ul>
        </li>	
	   	</ul>

	</div>
	<div class="span3"><p>Sorted By: <b class="sort"></b></p></div>
	<div class="span6" style="text-align: right">
		<ul class="inline">
			<li>
				Filter By:
			</li>
			<!--<li>
				<%= link_to "WhiteListed", employerdomains_url(:status => "WhiteListed"), :class => "badge badge-important"%>
			</li>-->
			<li>
				<%= link_to "PreApproved", employerdomains_url(:status => "PreApproved"), :class => "badge badge-warning"%>
			</li>
			
			<li>
				<%= link_to "BlackListed", employerdomains_url(:status => "BlackListed"), :class => "badge badge-success"%>
			</li>
			
		</ul>
	</div>
</div>
<div class="row-fluid">
   <div id="data-index">
      <%= render :partial => "list" -%> 
    </div>
</div>
<script>
$(document).ready(function(){
	$('.span3 p').hide();
	$('.dropdown-menu li a').click(function(){ 
		$('.span3 p').show();
		$('.sort').html($(this).text());
		$('li').removeClass('open');
	})
})
</script>