<%= form_for @agreement, :html => { :class => 'form-horizontal' } do |f| %>
<div class="row-fluid">
	<div class="span6">
		<ul class="unstyled" style="padding: 15px;">
			<li>
				<%= label_tag(:title, "Title :*") %>

				<%= f.text_field :title, :class => 'span12' %>
			</li>
				<li>
				<%= label_tag(:version, "Version: * ")%>
				<%= f.text_field :version, :class => 'span12' %>
			</li>
			<li>
				<%= label_tag(:isactive, "Active :") %>

				<%= f.check_box :isactive, :class => 'span12' %>
			</li>
		</ul>
	</div>
	<div class="span6">
		<ul class="unstyled" style="padding: 15px;">
			<li>
				<%= label_tag(:content, "Content : * ")%>
				<%= f.text_area :content, :class => 'span12' %>
			</li>
		
		</ul>
	</div>
</div>
<div class="form-actions" style="padding-left: 0px; text-align: center">
	<ul class="unstyled">
		<li class="error error-large">
			* - Mandatory Fields
		</li>
		<% @agreement.errors.full_messages.each do |message| %>
		<li class="error error-large">
			<%= message %>
		</li>
		<% end %>
	</ul>
	<%= f.submit 'Save', :class => 'btn btn-primary btn-large' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	@agreement, :class => 'btn btn-large' %>
</div>

<% end %>